/* Style the list */
ul.tab {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: #5e2f0c;
    

}

/* Float the list items side by side */
ul.tab li {
    width: 50%;
    float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    width: 85%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    
    
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #dc640b;}

/* Create an active/current tablink class */
ul.tab li a.active {background-color: #dc640b;}

/* Style the tab content */
.tabcontent {
    display: none;

    border: none;
    border-top: none;
}

#mapid { height: 180px; }